/**/

@font-face {
  font-family: "decovar-vf";
  src: url("type/DecovarAlpha-VF.ttf") format("truetype");
}


.decoDemo1 {
  font-family: "decovar-vf";
  font-size: 3em;
  font-variation-settings: "inln" 999;
}
