/**/

@font-face {
  font-family: "decovar-vf";
  src: url("type/DecovarAlpha-VF.ttf") format("truetype");
}


p.decoDemo1 {
  font-family: "decovar-vf";
  font-size: 5em;
  font-variation-settings: "INLN" 400.0;
}

/*  font-variation-settings: "wdth" 100, "wght" 100;*/